<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    A Simple Json Conversion Pipe for PrimeNg Tree
  </h1>
  <p>JsonToTreePipe converts a standard JSON object into the format required by the PrimeNg Tree. </p>
  <p>Usage: JSON | jsonToTree</p>   <button label="Demo PrimeNg Tree" pButton (click)="tree = !tree"></button>
</div>
<p-tree *ngIf="tree" [value]="json | jsonToTree"></p-tree>
<div class="ui-g" style="margin-top: 20px ">
  <div class="ui-g-2"></div>
  <div class="ui-g-4">
    Sample JSON object: 
    <div class="sample-code">
      <!-- <pre style="font-size:8"> {{json | json}} ></pre> -->
      <prettyjson [obj]="json"></prettyjson>
    </div> 
  </div>
  <div class="ui-g-6">
    JSON object after JsonToTreePipe:
    <div class="sample-code">
      <!-- <pre>{{ json | jsonToTree | json}}</pre> -->
      <prettyjson [obj]="json | jsonToTree"></prettyjson>
    </div>
  </div>
</div>  


