.header {
    color: #0078a3;
    background-color: #ffffff;
    width: 100%vw;
    height: 70px;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #59b4d4;
    border-bottom: 4px solid #59b4d4;
}

.sample-code {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
    width: auto;
    background-color: #080e19;
}

#github {
    text-decoration: none;
    color: #0078a3;
}

#github:hover {
    text-decoration: underline;
    color: #59b4d4;
    cursor: pointer;
}

:host /deep/ pre {
    font-size: 12px;
}